<%
const posts = _.cms('receita')
if (Array.isArray(posts) && posts.length) {
  %>
    <div id="receitas-list" class="receitas my-4 my-lg-5">
      <div class="container">
        <div class="row">
          <% posts.forEach(slug => { %>
            <% const { title, imagem, tempo_de_preparo, dificuldade, serve_ate } = _.cms(`receita/${slug}`) %>
            <div class="col col-md-6 col-lg-4">
              <div class="card">
                <% if (imagem) { %>
                  <a href="/receitas/<%= slug %>">
                    <img
                      src="<%= imagem %>"
                      class="card-img-top"
                      alt="<%= title %>"
                    >
                  </a>
                <% } %>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/posts/<%= slug %>">
                      <%= title %>
                    </a>
                  </h5>
                  <p class="card-text">
                    <b>Preparo</b>: <%= tempo_de_preparo %>
                  </p>
                  <p class="card-text">
                    <b>Dificuldade:</b> <%= dificuldade %>
                  </p>
                  <p class="card-text">
                    <b>Porções:</b> <%= serve_ate %>
                  </p>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  <%
}
%>
