<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
%>

<% 

var apx_content = _.cms('apx_instafeed') || {}
const title = apx_content.title

//console.log(_.pageName)
if(_.pageName == "home"){
%>
<section id="apx_instagram" class="py-5">
<div class="container pb-4 pt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h4>
        <%- title %>
      </h4>
    </div>
  </div>
  <div class="row apx_instafeed"></div>
</div>
<script>
  function apx_instafeedLoad (){
    fetch('https://graph.instagram.com/me/media?access_token='+ InstagramToken +'&fields=media_url,media_type,caption,permalink')
    .then(function (response) {
        return response.json();
    }).then(function (arr){
        var images = "";
        //console.log(arr.json());
        let count = 0;
        for (var i = 0; count < <%= apx_content.quantity  %>; i++) {
            if(arr.data[i].media_type == "IMAGE"){
                images = images + "<div class='col-6 pb-md-0 pb-4 col-md<%= Number.isInteger(12/apx_content.quantity) ? '-' + 12/apx_content.quantity : '' %>'><a href='"+ arr.data[i].permalink +"'>" +
                    "<img src='"+ arr.data[i].media_url +"'/>" + 
                    "<span>"+ arr.data[i].caption.substring(0,75) +"...</span>" +
                "</a></div>";
                count++;
            }
        }
        let feed = document.querySelector('.apx_instafeed');
        feed.innerHTML = feed.innerHTML + images;

        let w = $('.apx_instafeed a').first().innerWidth();
        $('.apx_instafeed a').css('height',w + 'px');

    }).catch((err) => {
        console.log(err);
    });
  }
</script>
<script src="<%= apx_content.token %>" onload="apx_instafeedLoad();"></script>
</section>
<section id="apx_newsletter" class="py-1 py-md-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 text-center justify-content-center">
        <h4><small>Receba Nossas</small>Novidades e Promoções</h4>
        <p>Assine nossa <u>newsletter</u></p>
        <form action='https://www.vmarkethomol.com.br/app/vmarket-core/api_servicos/newsletter/criar'
        method='post'
        name='research'
        enctype='multipart/form-data'>
          <!-- <input	type='hidden'
            name='m'
            value='1'
            >
          <input	type='hidden'
            name='p'
            value='2'
            > -->
            <input type="hidden" name="id_site" value="78">
            <input type="hidden" name="token" value="vaR2jgshiLb8Yzq0uRYWNTsOKXxDAPgAkNOTOPJe">
          <!-- <input type="email" name='form_registration_enable_email' placeholder="Seu melhor e-mail aqui..."> -->
          <input type="email" name='email' placeholder="Seu melhor e-mail aqui...">
          <button>
            Assinar
            <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.7071 8.7071C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928931C14.9526 0.538406 14.3195 0.538407 13.9289 0.928931C13.5384 1.31946 13.5384 1.95262 13.9289 2.34314L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.7071ZM8.74228e-08 9L21 9L21 7L-8.74228e-08 7L8.74228e-08 9Z" fill="#8A0403"/>
            </svg>    
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<% } %>
<% if (contacts.whatsapp) { %>
  <a
    target="_blank"
    class="whatsapp-chat"
    href="https://wa.me/55<%= contacts.whatsapp.replace(/\D/g, '') %>"
  >
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.031 6.172c-3.181 0-5.767 2.586-5.768 5.766-.001 1.298.38 2.27 1.019 3.287l-.582 2.128 2.182-.573c.978.58 1.911.928 3.145.929 3.178 0 5.767-2.587 5.768-5.766.001-3.187-2.575-5.77-5.764-5.771zm3.392 8.244c-.144.405-.837.774-1.17.824-.299.045-.677.063-1.092-.069-.252-.08-.575-.187-.988-.365-1.739-.751-2.874-2.502-2.961-2.617-.087-.116-.708-.94-.708-1.793s.448-1.273.607-1.446c.159-.173.346-.217.462-.217l.332.006c.106.005.249-.04.39.298.144.347.491 1.2.534 1.287.043.087.072.188.014.304-.058.116-.087.188-.173.289l-.26.304c-.087.086-.177.18-.076.354.101.174.449.741.964 1.201.662.591 1.221.774 1.394.86s.274.072.376-.043c.101-.116.433-.506.549-.68.116-.173.231-.145.39-.087s1.011.477 1.184.564.289.13.332.202c.045.072.045.419-.1.824zm-3.423-14.416c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm.029 18.88c-1.161 0-2.305-.292-3.318-.844l-3.677.964.984-3.595c-.607-1.052-.927-2.246-.926-3.468.001-3.825 3.113-6.937 6.937-6.937 1.856.001 3.598.723 4.907 2.034 1.31 1.311 2.031 3.054 2.03 4.908-.001 3.825-3.113 6.938-6.937 6.938z"/></svg>
  </a>
<% } %>
<div id="clubeshow">
  <div class="content">
    <div class="logged_in">
      <button type="button" class="trigger">x</button>
      <form action="">
        <label for="">Digite o seu CPF e consulte seus pontos</label>
        <div class="d-flex">
          <input type="text" name="cpf" value="43335443608" placeholder="999.999.999.99">      
          <input type="submit" value="Pesquisar">
        </div>      
      </form>
      <div id="clubeshow_result"></div>
    </div>
    <div class="logged_out">
      <button type="button" class="trigger">x</button>
      <p>Seja bem vindo, <b>Visitante</b></p>
      <p>Faça seu <a href="/app/#/account/">login</a> ou <a href="/app/#/account/">cadastre-se</a> para participar e/ou resgatar seus pontos em descontos em nossa loja virtual.</p>
      <a href="/app/#/account/">Login</a>
      <a href="/app/#/account/">Cadastre-se</a>
    </div>
  </div>
  <button type="button" class="trigger">    
    <!-- <span>1</span> -->
    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.25 22.4999V21.7499C10.8358 21.7499 10.5 22.0857 10.5 22.4999H11.25ZM42.75 22.4999H43.5C43.5 22.0857 43.1642 21.7499 42.75 21.7499V22.4999ZM42.75 44.9999V45.7499C43.1642 45.7499 43.5 45.4141 43.5 44.9999H42.75ZM11.25 44.9999H10.5C10.5 45.4141 10.8358 45.7499 11.25 45.7499V44.9999ZM31.5 44.9999V45.7499C31.9142 45.7499 32.25 45.4141 32.25 44.9999H31.5ZM22.5 44.9999H21.75C21.75 45.4141 22.0858 45.7499 22.5 45.7499V44.9999ZM9 15.7499V14.9999C8.58579 14.9999 8.25 15.3357 8.25 15.7499H9ZM45 15.7499H45.75C45.75 15.3357 45.4142 14.9999 45 14.9999V15.7499ZM45 22.4999V23.2499C45.4142 23.2499 45.75 22.9141 45.75 22.4999H45ZM9 22.4999H8.25C8.25 22.9141 8.58579 23.2499 9 23.2499V22.4999ZM22.5 15.7499V14.9999C22.0858 14.9999 21.75 15.3357 21.75 15.7499H22.5ZM31.5 15.7499H32.25C32.25 15.3357 31.9142 14.9999 31.5 14.9999V15.7499ZM26.6983 15.4123L25.9739 15.2182L25.7797 15.9426L26.5041 16.1368L26.6983 15.4123ZM38.3896 8.66232L39.0391 8.28732L39.0391 8.28732L38.3896 8.66232ZM27.1402 15.4123L27.3344 16.1368L28.0588 15.9426L27.8646 15.2182L27.1402 15.4123ZM15.4489 8.66232L14.7994 8.28732L14.7994 8.28732L15.4489 8.66232ZM11.25 23.2499H42.75V21.7499H11.25V23.2499ZM42 22.4999V44.9999H43.5V22.4999H42ZM42.75 44.2499H11.25V45.7499H42.75V44.2499ZM12 44.9999V22.4999H10.5V44.9999H12ZM22.5 23.2499H31.5V21.7499H22.5V23.2499ZM30.75 22.4999V44.9999H32.25V22.4999H30.75ZM31.5 44.2499H22.5V45.7499H31.5V44.2499ZM23.25 44.9999V22.4999H21.75V44.9999H23.25ZM9 16.4999H45V14.9999H9V16.4999ZM44.25 15.7499V22.4999H45.75V15.7499H44.25ZM45 21.7499H9V23.2499H45V21.7499ZM9.75 22.4999V15.7499H8.25V22.4999H9.75ZM22.5 16.4999H31.5V14.9999H22.5V16.4999ZM30.75 15.7499V22.4999H32.25V15.7499H30.75ZM23.25 22.4999V15.7499H21.75V22.4999H23.25ZM27.4227 15.6065C27.9945 13.473 29.9732 10.458 32.2047 8.70635C33.3207 7.83035 34.3978 7.35146 35.3119 7.35254C36.1521 7.35353 37.0032 7.76092 37.7401 9.03732L39.0391 8.28732C38.0885 6.64083 36.7889 5.85428 35.3136 5.85254C33.9122 5.85089 32.5091 6.56048 31.2785 7.52645C28.817 9.45868 26.6376 12.7416 25.9739 15.2182L27.4227 15.6065ZM37.7401 9.03732C38.4771 10.3138 38.4044 11.2547 37.9851 11.9829C37.5291 12.7751 36.5758 13.4685 35.2592 13.9969C32.6265 15.0537 29.0261 15.2597 26.8924 14.6879L26.5041 16.1368C28.981 16.8006 32.9139 16.5546 35.818 15.389C37.2698 14.8062 38.5859 13.9458 39.2851 12.7313C40.0212 11.4527 39.9898 9.93386 39.0391 8.28732L37.7401 9.03732ZM27.8646 15.2182C27.2009 12.7416 25.0215 9.45868 22.56 7.52645C21.3294 6.56048 19.9263 5.85089 18.5249 5.85254C17.0496 5.85428 15.75 6.64083 14.7994 8.28732L16.0984 9.03732C16.8353 7.76092 17.6864 7.35353 18.5266 7.35254C19.4407 7.35146 20.5178 7.83035 21.6338 8.70635C23.8653 10.458 25.844 13.473 26.4158 15.6065L27.8646 15.2182ZM14.7994 8.28732C13.8487 9.93386 13.8173 11.4527 14.5534 12.7313C15.2526 13.9458 16.5687 14.8062 18.0205 15.389C20.9246 16.5546 24.8575 16.8006 27.3344 16.1368L26.9461 14.6879C24.8124 15.2597 21.212 15.0537 18.5793 13.9969C17.2627 13.4685 16.3094 12.7751 15.8534 11.9829C15.4341 11.2547 15.3614 10.3138 16.0984 9.03732L14.7994 8.28732Z" fill="#FECC16"/>
    </svg>  
    <span>Clube Show</span>
  </button>
  
</div>
<footer id="apx_footer" class="py-md-5 py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 ">
        <div class="mb-2 mb-md-0 d-block">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </div>
        <div class="my-4">
          <p>
            <%- footer.description.text || _.settings.description %>
          </p>
        </div>
        <div class="mb-5 mb-md-0">
          <h4>Atendimento Loja Virtual</h4>
          <p>
            Segunda a Sexta, das 9h às 17h<br>
            Telefone: (21) 2580-3776<br>
            sac@emporiogourmetshow.com.br
          </p>
          <% if (footer.contacts.socials) { %>
            <p class="footer__social my-4">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          <% } %>
        </div>
      </div>
      <div class="col-12 col-md-7 offset-md-2">
        <div class="row">
          <div class="col-12 col-md">
            <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
              <h4><%= footer.links_1.title || _.dictionary('categories') %></h4>          
              <% if (footer.links_1.list_pages) { %>
                <ul class="footer__links">
                  <% (_.cms('pages') || []).forEach(slug => { %>
                    <% const { title } = _.cms(`pages/${slug}`) %>
                    <li>
                      <i class="fas fa-angle-right"></i>
                      <a href="/pages/<%= slug %>">
                        <%= title %>
                      </a>
                    </li>
                  <% }) %>
                </ul>
              <% } %>
            <% } %>
          </div>
          <div class="col-12 col-md">
            <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
              <h4><%= footer.links_2.title || _.dictionary('categories') %></h4>          
              <% if (footer.links_2.list_categories) { %>
                <ul class="footer__links">
                  <% _.categories.forEach(({ name, slug, parent }) => { %>
                    <% if (!parent) { %>
                      <li>
                        <i class="fas fa-angle-right"></i>
                        <a href="/<%= slug %>">
                          <%= name %>
                        </a>
                      </li>
                    <% } %>
                  <% }) %>
                </ul>                 
              <% } %>                
            <% } %>
          </div>
          <div class="col-12 col-md-5">
            <h4>Pagamento e Segurança</h4>
              <p class="footer__payment-methods">
                <% Object.keys(footer.payment_methods).forEach(method => { %>
                  <% if (footer.payment_methods[method]) { %>
                    <i class="pay-icon pay-icon--<%= method %>"></i>
                  <% } %>
                <% }) %>
              </p>
              <div class="footer__stamps">
                <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
              </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-md-7 apx_credits mb-3 mb-md-0">
            <%- footer.credits %>
          </div>
          <div class="col-12 col-md-5">
            <div class="row justify-content-end align-items-center">
              <div class="col-auto">
                <a href="https://alpix.dev/?utm_source=emporioshow">                  
                  <svg style="height:30px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 320.23 150.05"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#fc5656;}.cls-3{fill:#b32fd3;}.cls-4{fill:url(#Gradiente_sem_nome_49);}</style><linearGradient id="Gradiente_sem_nome_49" x1="-1032.2" y1="1130.18" x2="-909.13" y2="1130.18" gradientTransform="translate(1124.45 -1055.15)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fc5656"/><stop offset="1" stop-color="#b32fd3"/></linearGradient></defs><g id="Camada_2" data-name="Camada 2"><g id="Camada_1-2" data-name="Camada 1"><rect class="cls-1" x="215.32" y="40.9" width="19.21" height="70.65"/><rect class="cls-1" x="92.25" width="19.11" height="111.55"/><path class="cls-1" d="M167.15,39.84a36.48,36.48,0,0,0-17.37,4.38V41.07H130.59V150h19.19V108.58a36.56,36.56,0,1,0,17.37-68.74Zm0,53.87A17.32,17.32,0,1,1,184.47,76.4,17.31,17.31,0,0,1,167.15,93.71Z"/><path class="cls-1" d="M53.83,111.37H73l0-70.48H53.87v3.3a36.76,36.76,0,0,0-17.31-4.36,36,36,0,0,0-11.7,1.93,36.55,36.55,0,0,0,0,69.26,36.43,36.43,0,0,0,23.4,0,34.82,34.82,0,0,0,5.61-2.43M36.56,94.13A17.32,17.32,0,1,1,53.87,76.81,17.31,17.31,0,0,1,36.56,94.13Z"/><polygon class="cls-1" points="318.51 41.07 305.89 58.94 282.36 58.94 294.97 41.07 318.51 41.07"/><polygon class="cls-1" points="320.23 111.55 296.55 111.55 282.36 92.17 268.77 111.55 245.22 111.55 270.5 75.69 270.6 75.55 258.79 58.94 246.09 41.07 269.77 41.07 282.36 58.94 282.38 58.94 294.19 75.69 294.24 75.69 320.23 111.55"/><rect class="cls-2" x="92.25" y="130.94" width="19.11" height="19.11"/><rect class="cls-3" x="196.11" width="19.21" height="19.21"/><rect class="cls-4" x="92.25" y="130.94" width="19.11" height="19.11"/><rect class="cls-4" x="196.11" width="19.21" height="19.21"/></g></g></svg>
                </a>
              </div>
              <div class="col-auto">
                <a href="https://e-com.plus?utm_source=alpix" target="_blank" rel="noopener">
                  <img
                    style="filter: brightness(0) invert(1);"
                    src="https://ecom.nyc3.digitaloceanspaces.com/brand/plus/198x43.png"
                    alt="E-Com Plus"
                    style="filter:invert"
                    width="92"
                    height="19.98"
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <footer class="footer py-3 py-lg-4 py-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto order-lg-last pl-xl-4">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="fab fa-whatsapp"></i>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="fas fa-phone"></i>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li>
                <address>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
          </ul>

          <% if (footer.contacts.socials) { %>
            <p class="footer__social">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          <% } %>
        </div>
      </div>

      

     

      <div class="col-12 col-xl order-lg-first">
        <h2 class="footer__title footer__store">
          <%= footer.description.title || _.settings.name %>
        </h2>
        <p><%- footer.description.text || _.settings.description %></p>

        <div class="mt-4 mb-3">
          
        </div>
      </div>
    </div>

    <div class="footer__credits">
      <span>
        <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
      </span>
      <button
        id="go-to-top"
        class="btn btn-primary ml-3"
        type="button"
        aria-label="<%= _.dictionary('goToTop') %>"
      >
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>
  </div>
</footer> -->

<!-- <%- await include('@/layout/inc/ecom-credits') %> -->
